@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');

$regular-font: 'Roboto', sans-serif;;

*{box-sizing: border-box;}
html{ font-size: 14px }
body{font-family: $regular-font;font-size: 1rem; line-height: 1.5; margin: 0;}
img{max-width: 100%;}
ul{list-style: none; margin: 0; padding: 0;}

h1,h2,h3,h4,h5,h6{ font-weight: 500; margin-bottom: .5em }

h2{ font-size: 2.57rem; }

section {
    width: 100%;
    float: left;
    margin-top: 40px;
    margin-bottom: 40px;
    padding-left: 15px;
    padding-right: 15px;
    &.nomar{ margin-top: 0; margin-bottom: 0 }
    &.nomar-top{ margin-top: 0;}
    &.nomar-bottom{ margin-top: 0;}
    &.nopad{ padding-left: 0; padding-right: 0 }
}

.container {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
}

a{ text-decoration: none; color: #202020;}

.navigation{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    padding: 20px 0;
    background-color: #ffffff;
    &__list{ display: flex;}
    &__item{ font-size: 1.28rem; font-weight: 500; margin: 0 20px;}
    @media(max-width: 768px){
        display: none;
        width: auto;
        height: 100%;
        &__list{ flex-direction: column }
    }
}

.close{
    display: none;
    margin: 0 20px;
    text-align: right;
    @media(max-width: 768px){
        display: block;
    }
}


.banner{
    position: relative;
    background: url(../img/code.jpg) no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.80);
    }
    &__man {
        position: absolute;
        left: 10%;
        bottom: 0;
        @media(max-width: 992px) {
            width: 60%;
            max-width: 250px;
        }
    }
    &__content{
        position: absolute;
        left: 10%;
        top: 30%;
        transform: translateY(-30%);
        color: #fff;
        padding: 0 15px;
    }
    &__heading{
        font-size: 3.71rem;
    }
    &__description{
        opacity: 0;
        font-size: 1.71rem;
    }
    @media(max-width: 768px){
        &__content{
            left: 0;
        }
    }
}

.why-me {
    display: inline-block;
    width: 31%;
    margin: 0 1%;
    vertical-align: bottom;
    text-align: center;
    @media(max-width: 768px) {
        width: 100%;
        margin: 0;
        margin-bottom: 40px;
    }
    h2 {
        margin-bottom: 10px;
    }
    img {
        @media(max-width: 768px) {
            max-width: 250px;
        }
    }
}

.btn {
    background: #202020;
    font-size: 0.85rem;
    padding: 6px 20px;
    color: #ffffff;
    text-decoration: none;
    display: inline-block;
}

.works{
    &__list{ display: flex; flex-wrap: wrap; margin: 0 -15px} 
    &__item{ width: 50%; padding: 0 15px; margin: 15px 0}
    &__img{ display: block; width: 100% }
    &__skill{ display: inline-block; margin: 5px 0; font-size: 0.85rem; text-decoration: underline; padding-right: 5px; }
    &__skillsWrap{ margin: 10px 0 }
}

.contactWrap{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.contactme{
    &__call{ display: block; font-size: 1.71rem; padding-left: 25px; }
    &__email{ display: block; font-size: 1.71rem; padding-left: 25px; }
}